* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root { /* paleta azul */
    --cor0:#ffffff;
    --cor1:#d7eff5;
    --cor2:#b2e3f0;
    --cor3:#84d8f0;
    --cor4:#49c5e7;
    --cor5:#03acdb;
    --cor6:#0086ac;
    --cor7:#01556d;
    --cor8:#000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    height: 65px;
    width: 100%;
}

.menu {
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    padding: 5px;
    color:var(--cor7);
}

nav a:hover {
    background-color: var(--cor5);
    color: var(--cor0);
    padding: 5px;
    border-radius: 10px;
}

.logo {
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

#check {
    display: none;
}

.checkbtn {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 626px) { 
    nav {
        flex-direction: column;
        height: 75px;
    }

    .logo {
        margin: 0px;
        padding: 3px;
    }

    .menu { 
        padding: 5px;
        margin: 3px;
    }
}

@media (max-width: 444px) { 
    nav {
        display:block;
        height: auto;
    }
    
    .logo {
        text-align: left;
        padding: 5px;
        margin-left: 10px;
    }

    .checkbtn {
        display: block;
    }

    .menu {
        display: block;
        position: fixed;
        width: 85px;
        top: 44px;
        margin: 0px; 
        background-color: var(--cor2);
        left: -100%;
    }

    .menu li {
        display: block;
        text-align: center;
        margin: 0px;
        padding: 5px;
    }

    .cabecalho {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
    }
    
    .cabecalho label {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: all .3s linear;
        background-color:var(--cor7);
    }
    
    .cabecalho span {
        position: absolute;
        top: 12px;
        left: 5px;
        width: 15px;
        height: 2px;
        background-color: var(--cor0);
        transition: all .3s linear;
    }
    
    .cabecalho span::before {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0px;
        width: 15px;
        height: 2px;
        background-color: var(--cor0);
        transition: all .3s linear;
    }
    
    .cabecalho span::after {
        content: '';
        position: absolute;
        top: -6px;
        left: 0px;
        width: 15px;
        height: 2px;
        background-color: var(--cor0);
        transition: all .3s linear;
    }

    #check:checked ~ label > span {
        background-color: transparent;
    }
    
    #check:checked ~ label > span::before {
        transform: translate(0px,-6px) rotate(-45deg);
    }
    
    #check:checked ~ label > span::after {
        transform: translate(0px,6px) rotate(45deg);
    }
    
    #check:checked ~ label {
        border-radius: 50%;
    }
    
    #check:checked ~ .menu {
        left: 0;
    }

}
