* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.resultado {
    display: none;
}

body {
    background: linear-gradient(to right,rgb(7, 75, 7,0.8),rgb(32, 122, 32,0.5));
    color: white;
}
h2 {
    color: white;
}

header {
    height: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin:10px auto 10px auto;
    justify-content: center;
    align-items: center;
}
h1 {
     color:rgb(110, 240, 110)
 }

 h3 {
    margin-bottom: 15px;
 }
 input {
     margin-bottom: 10px;
 }

 .dados {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 500px;
     height: 150px;
     background-color: rgba(255, 255, 255, 0.363);
     border-radius: 10px;
 }

 button {
     background-color: rgb(5, 109, 5);
     padding: 5px;
     width: 100px;
     border-radius: 10px;
     color: white;
 }